<% units = require("../../static/diagrams/2.2-upstream-neurons/component_neurons.json")%>

<style>
    .upstream-neurons {
        display: grid;
        grid-gap: 1em;
        margin-bottom: 2em;
    }

    h5 {
      margin-bottom: 0px;
    }

    .upstream-neurons .row {
        display: grid;
        grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr min-content 1fr min-content 1fr min-content min-content;
        grid-column-gap: .5em;
        column-gap: .5em;
        align-items: center;
        /* justify-items: start; */
    }

    .units,
    .weights {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
        grid-column-start: 3;
    }

    img.fv {
        display: block;
        max-width: 100%;
        border-radius: 8px;
    }

    img.full {
        width: unset;
        object-fit: none;
        object-position: center;
        image-rendering: optimizeQuality;
    }

    img.weight {
        width: 100%;
        image-rendering: pixelated;
        align-self: center;
        border: 1px solid #ccc;
    }

    .layer-label {
        grid-row-start: span 2;
    }

    .layer-label label {
        display: inline-block;
        /* transform: rotate(-90deg); */
    }

    .legend-label {
        padding: .125rem .25rem;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.8);
    }

    .legend-label.support {
        background-color: #EE880088;
    }

    .legend-label.inhibit {
        background-color: #0088EE88;
    }

    .annotation {
        font-size: 1.5em;
        font-weight: 200;
        color: #666;
        margin-bottom: 0.2em;
    }

    /* .equal-sign {
        padding: 0 0.5em;
    } */

    .unit {
      display: block;
      min-width: 50px;
    }
    .unit.factor {
    }

    .unit .bar {
        display: block;
        margin-top: 0.5em;
        background-color: #CCC;
        height: 4px;
    }

    .row h4 {
        border-bottom: 1px solid #ccc;
    }
</style>

<figure>
    <% for (const fv_layer of ["conv2d2", "conv2d1"]) {%>
    <div class="upstream-neurons">
      <h4> <%= fv_layer %> </h4>
        <% for (const [factor, hilo] of [[0, "hi"], [1, "lo"]]) {%>
        <% localUnits = units[fv_layer][factor].reverse() %>
        <div class="row">
            <img class="unit factor fv full" src="<%= `diagrams/2.1-upstream-nmf/${fv_layer}-${hilo}.png` %>" />
            <span class="annotation equal-sign">=</span>
            <% for (const unit of localUnits) {%>
            <div class="unit">
                <img class="fv full"
                    src="<%= `diagrams/2.2-upstream-neurons/layer_name=${fv_layer}-component=${factor}-channel_index=${unit.index}.png` %>" />
            </div>
            <span class="annotation">+</span>
            <% } %>
            <span class="annotation">…</span>

            <span class="figcaption"><%= factor == 0 ? "HF" : "LF" %>-factor</span>
            <span></span>
            <% for (const unit of localUnits) {%>
                <div class="unit">
                    <!-- <div class="bar" style="width: <%= (unit.coeff*100).toFixed(3) %>%"></div> -->
                    <span class="magnitude figcaption"> × <%= unit.coeff.toFixed(2).toString() %></span>
                </div>
                <span></span>
            <% } %>
        </div>
        <% } %>
    </div>
    <% } %>

    <figcaption>
        <p><a href="#figure-6" class="figure-number">6</a>:
        NMF recovers the neurons that contribute to the two NMF factors plus the weighted amount they contribute to each factor. Here shown: NMF against both <code>conv2d2</code> and a deeper layer, <code>conv2d1</code>.
        </p>
        <p>Left column: Feature visualization of each NMF factor.</p>
    </figcaption>
</figure>
